<h1>My Blog!</h1>
<% @posts.each do |post| %>

	<%= notice %>

<h2><%= link_to post.title, post %></h2>
<div class="entry">
	
	<%= link_to "Edit", [:edit, post] %>
	<%= button_to "Delete", post,
		:'data-confirm' => "Are you sure?", :method => :delete %>
	<hr /> 
</div>
<% end %>

<%= link_to "New Post", new_post_path %>