<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<title>Results</title>
</head>
<body style="background-color: lavender">
	
	<div class="container" style="background-color: white; margin-top: 40px; padding-bottom: 20px; padding-left: 50px; border-radius: 20px">
	<h1>Results</h1>
	<br/>
	<dl class="dl-horizontal col-sm-8">
		<dt><b>Title</b> <dd><%= name.Title %></dd></dt>
		<dt><b>Year</b> <dd><%= name.Year %></dd></dt>
		<dt><b>Rated</b> <dd><%= name.Rated %></dd></dt>
		<dt><b>Released</b> <dd><%= name.Released %></dd></dt>
		<dt><b>Runtime</b> <dd><%= name.Runtime %></dd></dt>
		<dt><b>Genre</b> <dd><%= name.Genre %></dd></dt>
		<dt><b>Director</b> <dd><%= name.Director %></dd></dt>
		<dt><b>Writer</b> <dd><%= name.Writer %></dd></dt>
		<dt><b>Actors</b> <dd><%= name.Actors %></dd></dt>
		<dt><b>Plot</b> <dd><%= name.Plot %></dd></dt>
		<dt><b>Award(s)</b> <dd><%= name.Awards %></dd></dt>
		<dt><b>IMDB Rating</b> <dd><%= name.imdbRating %></dd></dt>	
	</dl>
	
	<a class="btn btn-primary text-muted col-sm-3" role="button" href="http://localhost:8000/">Check again</a>
	</div>

</body>
</html>














